[Desktop Entry]
Categories=Development;IDE;
Comment=Desktop App for hoppscotch.io
Exec=hoppscotch-desktop
StartupWMClass=hoppscotch-desktop
Icon=hoppscotch-desktop
Name=Hoppscotch
Terminal=false
Type=Application
MimeType=x-scheme-handler/io.hoppscotch.desktop
